<div class=jumbotron>
<h3>Sistema de Cadastro de Clientes</h3>
<form class="form-inline" name="clienteForm">
<input ng-model="cliente.nome" class="form-control" type="text" ng-required="true" ng-minlength="4" name="nome" placeholder="Nome"/>
<button class=" btn btn-primary"  ng-disabled="clienteForm.$invalid" ng-click="adicionarCliente(cliente)">Cadastar</button>
		
</form>
<table class="table">
<th>Nome</th>
<th></th>
<th></th>
<tr ng-repeat="cliente in clientes">
<td>{{cliente.nome}}</td>
<td><button class=" btn btn-danger "  ng-click="removerCliente(cliente)">Remover</button>
<button class=" btn btn-warning "  ng-click="alterarCliente(cliente)">Alterar</button>
<button class=" btn btn-danger "  ng-click="cancelarAlteracaoCliente()">Cancelar</button></td>
</tr>
</table>
</div>